<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
        </div>
    </main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
            {% for todolist in todolists %}
            <tr>
                <td>{{ todolist.name }}</td>
                <td>{{ todolist.items.all | length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>
